In [17]:
def name():
    return "hello from a function"


name()

'hello from a function'

In [18]:

def add(x, y=18):
    return x + y

add(10,10)

20

In [19]:
def tri(k):
    if (k>0):
        result = k + tri(k-1)
        print(result)
    else:
        result = 0 
    return result  


tri(10)

1
3
6
10
15
21
28
36
45
55

55